# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore binary files
.class
app/bin/main/powered_tasks/*

.gradletasknamecache
gradle-app.setting
